#Basic Descriptive Stats

##Load Numpy, Pandas and other Libraries

In [104]:
import numpy as np
import pandas as pd
import statistics
import scipy
from scipy import stats
import math

### Load Dataset "Inc_Exp_Data.csv" using Pandas

In [105]:
url = 'https://raw.githubusercontent.com/cs575ts/Assignments/main/Assignment_1/Inc_Exp_Data.csv'

df = pd.read_csv(url)

In [106]:
df.head()

   Mthly_HH_Income  ...  No_of_Earning_Members
0             5000  ...                      1
1             6000  ...                      1
2            10000  ...                      1
3            10000  ...                      1
4            12500  ...                      1

[5 rows x 7 columns]

Analyze the data using pandas info() *function*

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Mthly_HH_Income           50 non-null     int64
 1   Mthly_HH_Expense          50 non-null     int64
 2   No_of_Fly_Members         50 non-null     int64
 3   Emi_or_Rent_Amt           50 non-null     int64
 4   Annual_HH_Income          50 non-null     int64
 5   Highest_Qualified_Member  50 non-null     object
 6   No_of_Earning_Members     50 non-null     int64
dtypes: int64(6), object(1)
memory usage: 2.9+ KB

Analyze the data using pandas describe() *function*

In [108]:
df.describe()

       Mthly_HH_Income  ...  No_of_Earning_Members
count        50.000000  ...              50.000000
mean      41558.000000  ...               1.460000
std       26097.908979  ...               0.734291
min        5000.000000  ...               1.000000
25%       23550.000000  ...               1.000000
50%       35000.000000  ...               1.000000
75%       50375.000000  ...               2.000000
max      100000.000000  ...               4.000000

[8 rows x 6 columns]

Analyze the data using pandas shape object

In [109]:
df.shape

(50, 7)

Check for missing values

In [110]:
df.isna().any().any()

False

What is the Mean Expense of a Household? Compute mean using Inbuilt pandas function and write your own function for the same.

In [111]:
# without Inbuilt function
def meanfunction():
  sum=0
  for i in df.Mthly_HH_Expense:
    sum += i
  meanvalue = sum/df.Mthly_HH_Expense.shape[0]
  return meanvalue
m= meanfunction()
print("Mean Expense of a Household without inbuilt function:", m)

# with Inbuilt function
n = df["Mthly_HH_Expense"].mean()
print("Mean Expense of a Household with inbuilt function:", n)

Mean Expense of a Household without inbuilt function: 18818.0
Mean Expense of a Household with inbuilt function: 18818.0

What is the Median Household Expense? Compute Median using Inbuilt pandas function and write your own function for the same.

In [112]:
## without Inbuilt function
def medianfunction():
  m = df["Mthly_HH_Expense"].copy()
  length = df.Mthly_HH_Expense.shape[0]

#  for i in range(length-1):           #sorting of column
#    for j in range(0,length-i-1):
#      if(m[j]>m[j+1]):
#        m[j], m[j+1] = m[j+1], m[j]    
  m1 = sorted(m)
  num = length//2
  if length % 2 != 0:
    med = m1[num]
  else:
    left  = m1[num-1]
    right = m1[num] 
    med = (left+right)/2
  return med
med_func= medianfunction()
print("Median Household Expense using own function:", med_func)


## with Inbuilt function
n = df["Mthly_HH_Expense"].median()
print("Median Household Expense using inbuilt function:", n)

Median Household Expense using own function: 15500.0
Median Household Expense using inbuilt function: 15500.0

What is the Monthly Expense for most of the Households?

In [113]:
print("Monthly Expense for most of the households is % s" % (statistics.mode(df.Mthly_HH_Expense)))

Monthly Expense for most of the households is 25000

Calculate IQR(difference between 75% and 25% quartile)

In [114]:
q75, q25 = np.percentile(df.Mthly_HH_Expense, [75 ,25])
iqr = q75 - q25
print("IQR for monthly househld income is",iqr)

IQR for monthly househld income is 15000.0

Calculate Standard Deviation for first 4 columns. Compute Standard Deviation using Inbuilt pandas function and write your own function for the same.

In [115]:
# without Inbuilt function
def meanfunction(col):
  sum=0
  for i in col:
    sum += i
  meanvalue = sum/col.shape[0]
  return meanvalue

def stdfunction(single_column):
  mean_value = meanfunction(single_column)
  x = single_column - mean_value
  y = np.square(x)
  z=0
  for i in y:
    z += i
  #z = np.sum(y)
  var_value = z/(single_column.shape[0]-1)
  std_value = np.sqrt(var_value)
  return std_value

std_a = []
for column in df.columns[0:4]:
  s1= stdfunction(df[column])
  std_a.append(s1)
print("standard deviation of first four columns using own function:", std_a)

# with Inbuilt function
std_b = []
for column in df.columns[0:4]:
  s2 = df[column].std()
  std_b.append(s2)
print("standard deviation of first four columns using inbuilt function:", std_b)

standard deviation of first four columns using own function: [26097.908978713687, 12090.216824240286, 1.5173822786601394, 6241.434947516607]
standard deviation of first four columns using inbuilt function: [26097.908978713687, 12090.216824240286, 1.5173822786601394, 6241.434947516607]

Calculate Variance for first 3 columns. Compute Variance using Inbuilt pandas 
function and write your own function for the same.

In [116]:
# without Inbuilt function
def meanfunction(col):
  sum=0
  for i in col:
    sum += i
  meanvalue = sum/col.shape[0]
  return meanvalue

def variancefunction(single_column):
  mean_value = meanfunction(single_column)
  x = single_column - mean_value
  y = np.square(x)
  z=0
  for i in y:
    z += i
  variance = z/(single_column.shape[0]-1)
  return variance

var_a = []
for column in df.columns[0:3]:
  v1= variancefunction(df[column])
  var_a.append(v1)
print("variance of first three columns using own function:", var_a)

# with Inbuilt function
var_b = []
for column in df.columns[0:3]:
  v2 = df[column].var()
  var_b.append(v2)
print("variance of first three columns using inbuilt function:", var_b)

variance of first three columns using own function: [681100853.0612245, 146173342.85714287, 2.302448979591837]
variance of first three columns using inbuilt function: [681100853.0612245, 146173342.85714287, 2.302448979591837]

Calculate Skewness for first 3 columns. Compute Skewness using Inbuilt pandas function and write your own function for the same.

In [117]:
# without Inbuilt function

def skewnessfunction(single_column):
  mean_value = meanfunction(single_column)  #meanfunction is created in earlier cell
  x = single_column - mean_value
  y = np.power(x,3)
  z1=0
  for i in y:
    z1 += i
  z = z1/(single_column.shape[0])
  std_val = stdfunction(single_column)
  skewness = z/(std_val)**3                 #stdfunction created in std problem cell
  return skewness

sk_a = []
for column in df.columns[0:3]:
  sk1= skewnessfunction(df[column])
  sk_a.append(sk1)
print("skewness of first three columns using own function:", sk_a)

from scipy.stats import skew

# with Inbuilt function
sk_b = []
for column in df.columns[0:3]:
  #sk2 = skew(df[column])     #scipy.state inbuilt function
  sk2 = df[column].skew()     #pandas inbuilt function
  sk_b.append(sk2)
print("skewness of first three columns using inbuilt function:", sk_b)

skewness of first three columns using own function: [0.8698776756961618, 1.1284527234715376, 0.10694464460870662]
skewness of first three columns using inbuilt function: [0.9246148763777229, 1.1994608030097127, 0.11367415455857431]

Calculate Kurtosis for first 3 columns. Compute Kurtosis using Inbuilt pandas function and write your own function for the same.

In [118]:
# without inbuilt function

def kurtosisfunction(single_column):
  mean_value = meanfunction(single_column)  #meanfunction is created in earlier cell
  x = single_column - mean_value
  y = np.power(x,4)
  z1=0
  for i in y:
    z1 += i
  z = z1/(single_column.shape[0])
  std_val = stdfunction(single_column)
  kurtosis = (z/(std_val)**4)-3             #stdfunction created in std problem cell
  return kurtosis

kurt_a = []
for column in df.columns[0:3]:
  k1= kurtosisfunction(df[column])
  kurt_a.append(k1)
print("kurtosis of first three columns using own function:", kurt_a)

#from scipy.stats import kurtosis
# with Inbuilt function
kurt_b = []
for column in df.columns[0:3]:
  #k2 = kurtosis(df[column])              #scipy.stats inbuilt function
  k2 = df[column].kurtosis()              #pandas inbuilt function
  kurt_b.append(k2)
print("kurtosis of first three columns using inbuilt function:", kurt_b)

kurtosis of first three columns using own function: [-0.13160496392043397, 0.5853614995676502, -0.970000684053971]
kurtosis of first three columns using inbuilt function: [0.11555007146606489, 0.9424897886350738, -0.8514445579758396]

Find the correlation coeeficient between the "Mthly_HH_Income" and	"Mthly_HH_Expense". Compute correlation coeeficient using Inbuilt pandas function and write your own function for the same.

In [119]:
# with own function
def meanfunction(col):
  sum=0
  for i in col:
    sum += i
  meanvalue = sum/col.shape[0]
  return meanvalue

def covariancefunction(col1,col2):
  mean_value1 = meanfunction(col1)
  mean_value2 = meanfunction(col2)
  x1 = col1 - mean_value1
  x2 = col2 - mean_value2
  y = x1*x2
  z=0
  for i in y:
    z += i
  covariance = z/(col1.shape[0]-1)
  return covariance

def correlationfunction(column1,column2):
  cov = covariancefunction(column1,column2)
  std1 = stdfunction(column1)
  std2 = stdfunction(column2)
  correlation = cov / (std1 * std2)
  return correlation

cr= correlationfunction(df["Mthly_HH_Income"],df["Mthly_HH_Expense"])
print("correlation using own function:", cr)

# with inbuilt function
correlation = df["Mthly_HH_Income"].corr(df["Mthly_HH_Expense"])
print("correlation using inbuilt function:",correlation)

correlation using own function: 0.6492152549316461
correlation using inbuilt function: 0.6492152549316462

Calculate the total counts under each qualification

In [120]:
df.groupby(by="Highest_Qualified_Member").count()

                          Mthly_HH_Income  ...  No_of_Earning_Members
Highest_Qualified_Member                   ...
Graduate                               19  ...                     19
Illiterate                              5  ...                      5
Post-Graduate                           6  ...                      6
Professional                           10  ...                     10
Under-Graduate                         10  ...                     10

[5 rows x 6 columns]

Compute logarithmic mean of the first two cols using your own function

In [121]:
def logarithmicmean_function(single_column):
  max_val = max(single_column)
  min_val = min(single_column)
  log_max = math.log(max_val)
  log_min = math.log(min_val)
  if min_val == max_val:
    logarithmicmean = min_val
  else:
    logarithmicmean = (max_val - min_val)/(log_max - log_min)
  return logarithmicmean

logmean = []
for column in df.columns[0:2]:
  l= logarithmicmean_function(df[column])
  logmean.append(l)  
print ("The logarithmic Mean of first two columns using own function is:", logmean)

The logarithmic Mean of first two columns using own function is: [31711.77906605674, 14912.038429430682]

Compute geometric mean of the first two cols using your own  function and verify using inbuilt Python function

In [122]:
#without inbuilt function
def geomericmean_function(single_column):
  n = len(single_column)
  multiply = 1
  for i in single_column:
    multiply = (multiply)*(i)
  geometricmean1 = (multiply)**(1/n)
  return geometricmean1

geomean = []
for column in df.columns[0:2]:
  g1= geomericmean_function(df[column])
  geomean.append(g1)  
print ("The Geometric Mean of first two columns using own function is:", geomean)

#with inbuilt function
geometricmean2 = scipy.stats.gmean(df.iloc[:,0:2],axis=0)
print ('The Geometric Mean of first two columns using inbuilt function is:'+ str(geometricmean2))

The Geometric Mean of first two columns using own function is: [33590.377540213965, 15391.899582223135]
The Geometric Mean of first two columns using inbuilt function is:[33590.37754021 15391.89958222]

Compute *Mean Deviation from the Mean* of the first two cols using your own  function and verify using inbuilt Python function

In [123]:
#without inbuilt function
def meandeviationfunction(single_column):
  mean_value = meanfunction(single_column)      #meanfunction is created earlier
  x = single_column - mean_value
  z=0
  for i in x:
    z += i
  meandeviation = z/(len(single_column))
  return meandeviation

md_a = []
for column in df.columns[0:2]:
  md1= meandeviationfunction(df[column])
  md_a.append(md1)
print("mean deviation from the mean of first two columns using own function:", md_a)

mean deviation from the mean of first two columns using own function: [0.0, 0.0]

Compute *Mean Absolute Deviation from the Mean* of the first two cols using your own function and verify using inbuilt Python function

In [124]:
#without inbuilt function
def madfunction(single_column):
  mean_value = meanfunction(single_column)      #meanfunction is created earlier
  x = np.absolute(single_column - mean_value)
  z=0
  for i in x:
    z += i
  mad = z/(single_column.shape[0])
  return mad

mad_a = []
for column in df.columns[0:2]:
  mad1= madfunction(df[column])
  mad_a.append(mad1)
print("mean absolute deviation of first two columns using own function:", mad_a)

#with inbuilt function
mad_b = []
for column in df.columns[0:2]: 
  mad2 = df[column].mad()
  mad_b.append(mad2)
print("mean absolute deviation of first two columns using inbuilt function:", mad_b)

mean absolute deviation of first two columns using own function: [20288.96, 9247.44]
mean absolute deviation of first two columns using inbuilt function: [20288.96, 9247.44]

Compute *Coefficient of Variation* of the first two cols using your own function and verify using inbuilt Python function

In [125]:
def std_function(single_column):
  mean_value = meanfunction(single_column)
  x = single_column - mean_value
  y = np.square(x)
  z=0
  for i in y:
    z += i
  var_value = z/(single_column.shape[0])
  std_value = np.sqrt(var_value)
  return std_value

def coeff_var_function(single_column):
  mean_value = meanfunction(single_column)      #meanfunction is created earlier
  std_val = std_function(single_column)
  cv = (std_val/mean_value)
  return cv

cv_a = []
for column in df.columns[0:2]:
  cv1= coeff_var_function(df[column])
  cv_a.append(cv1)
print("coefficient of variation of first two columns using own function:", cv_a)

#with inbuilt function
cv_b = []
for column in df.columns[0:2]: 
  cv2 = scipy.stats.variation(df[column])
  #cv2 = df[column].()
  cv_b.append(cv2)
print("coefficient of variation of first two columns using inbuilt function:", cv_b)

coefficient of variation of first two columns using own function: [0.6216760137420672, 0.636024233362227]
coefficient of variation of first two columns using inbuilt function: [0.6216760137420672, 0.636024233362227]

Compute z score  for all numerical cols using your own function  and verify using inbuilt Python function

In [126]:
def zscore_function(single_column):
  mean_value = meanfunction(single_column)      #meanfunction is created earlier
  std_val = std_function(single_column)
  x = (single_column - mean_value)
  zscore = np.array(x/std_val) 
  return zscore

z_a = []
for column in df.columns[0:5]:
  z1= zscore_function(df[column])
  z_a.append(z1)
#print("zscore of first five columns (all numerical cols) using own function:", z_a)

#with inbuilt function
z_b = []
for column in df.columns[0:5]: 
  z2 = scipy.stats.zscore(df[column])
  z_b.append(z2)
#print("zscore of first five columns (all numerical cols) using inbuilt function:", z_b)

for i in range(5):
  if z_a[i].all() == z_b[i].all() : print("Z score of column "+ str(i+1) +" is matching with own function and inbuilt funtion")

Z score of column 1 is matching with own function and inbuilt funtion
Z score of column 2 is matching with own function and inbuilt funtion
Z score of column 3 is matching with own function and inbuilt funtion
Z score of column 4 is matching with own function and inbuilt funtion
Z score of column 5 is matching with own function and inbuilt funtion

Compute mode using your own function for the first two columns and verify using inbuilt Python function

In [127]:
#without inbuilt function
def modefunction(single_column):
  max_count = (0,0)
  for num in single_column:
    single_column = list(single_column)
    occurances = single_column.count(num)
    if occurances > max_count[0]:
      max_count = (occurances,num)
  return max_count

mode_a = []
for column in df.columns[0:2]: 
  mode1 = modefunction(df[column])
  mode_a.append(mode1)
print("mode of first column using own function:", mode_a[0][1])  
print("mode of second column using own function:", mode_a[1][1])

#with inbuilt function
mode_b = []
for column in df.columns[0:2]: 
  #mode2 = scipy.stats.mode(df[column])
  mode2 = df[column].mode()
  mode_b.append(mode2)
print("mode of first column using inbuilt function:", mode_b[0][0])  
print("mode of second column using inbuilt function:", mode_b[1][0])

mode of first column using own function: 45000
mode of second column using own function: 25000
mode of first column using inbuilt function: 45000
mode of second column using inbuilt function: 25000

Comment if the data for the first two cols is bi-modal, multi-modal or single modal

In [128]:
print("mode of first two column:",mode_a)
print("mode in both the columns is not repeating. So it is singlemodal.")

mode of first two column: [(4, 45000), (8, 25000)]
mode in both the columns is not repeating. So it is singlemodal.