In [1]:
import numpy as np
import pandas as pd

**load data**

In [4]:
df = pd.read_excel('dataset_metrics.xlsx')

In [5]:
df.head()

   actual_y  predicted_y
0        12           11
1        15           16
2         9            7
3         7           13
4        13           13

In [8]:
df = df.values

In [11]:
e = df[:,0]
s = df[:,1]

**1) Bias**

In [15]:
def bias(e,s):
  sum = 0
  for i in range(len(e)):
      sum += e[i] - s[i]
  b = sum/len(e)
  return b

print('bias : ',bias(e,s))

bias :  -0.5

**2) PBias**

In [17]:
def pbias(e,s):
  num = 0
  den = 0
  for i in range(len(e)):
      num += e[i] - s[i]
      den += e[i]
  pb = num/den
  return pb*100

print('p-bias : ',pbias(e,s))

p-bias :  -3.125

**3) log Nash-Sutcliffe (NSE)**

In [21]:
def NSE(e,s):
  diff=e-s
  sum1=0
  sum2=0
  for i in diff:
    sum1 += i**2
  m=0
  for j in e:
    m += j
  mean = m/len(e)
  for k in e:
    sum2 += (k-(mean))**2
  NSE_val = 1-(sum1/sum2)
  return NSE_val

print('Nash-Sutcliffe : ',NSE(e,s))

Nash-Sutcliffe :  0.8417085427135679

**4) log Nash-Sutcliffe**

In [23]:
def log_NSE(e,s):
  diff = np.log(e)-np.log(s)
  sum1=0
  sum2=0
  for i in diff:
    sum1 += i**2
  m=0
  for j in e:
    m += j
  mean = m/len(e)
  for k in e:
    sum2 += (np.log(k) - np.log(mean))**2
  NSE_val = 1-(sum1/sum2)
  return NSE_val

print('log Nash-Sutcliffe : ',log_NSE(e,s))

log Nash-Sutcliffe :  0.7121054364600313

**5) correlation coefficient**

mean function

In [26]:
def meanfunction(col):
  sum=0
  for i in col:
    sum += i
  meanvalue = sum/len(col)
  return meanvalue

In [36]:
def correlationfunction(e,s):
  mean_e = meanfunction(e)
  mean_s = meanfunction(s)
  
  sum = 0
  for i,j in zip(e,s): 
    sum += (i - mean_e)*(j - mean_s)
  sum1 = 0
  for p in e: 
    sum1 += (p - mean_e)**2
  sum2 = 0
  for q in s: 
    sum2 += (q - mean_s)**2
    
  cc = sum/(np.sqrt(sum1)*np.sqrt(sum2)) 
  return cc 

print("correlation coefficient :", correlationfunction(e,s))

correlation coefficient : 0.9208893410030699

**6) rsquared**

In [37]:
def rsquared(e,s):
  mean_e = meanfunction(e)
  mean_s = meanfunction(s)
  
  sum = 0
  for i,j in zip(e,s): 
    sum += (i - mean_e)*(j - mean_s)
  sum1 = 0
  for p in e: 
    sum1 += (p - mean_e)**2
  sum2 = 0
  for q in s: 
    sum2 += (q - mean_s)**2
    
  cc = sum/(np.sqrt(sum1)*np.sqrt(sum2)) 
  return (cc)**2 

print("r^2 :", rsquared(e,s))

r^2 : 0.8480371783730682

**7) MSE**

In [38]:
def mse(e,s):
  sum = 0
  for i in range(len(e)):
      sum += (e[i] - s[i])**2
  b = sum/len(e)
  return b

print('MSE : ',mse(e,s))

MSE :  6.3

**8) RMSE**

In [39]:
def rmse(e,s):
  sum = 0
  for i in range(len(e)):
      sum += (e[i] - s[i])**2
  b = np.sqrt(sum/len(e))
  return b

print('RMSE : ',rmse(e,s))

RMSE :  2.5099800796022267

**9) MAE**

In [40]:
def mae(e,s):
  sum = 0
  for i in range(len(e)):
      sum += abs(e[i] - s[i])
  b = sum/len(e)
  return b

print('MAE : ',mae(e,s))

MAE :  1.9

**10) RRMSE**

In [41]:
def rrmse(e,s):
  sum = 0
  for i in range(len(e)):
      sum += (e[i] - s[i])**2
  b = np.sqrt(sum/len(e))
  mean_e = meanfunction(e)
  return b/mean_e

print('RRMSE : ',rrmse(e,s))

RRMSE :  0.15687375497513917

**11) agreement index**

In [44]:
def agreement_index(e,s):
  sum = 0
  for i in range(len(e)):
      sum += (e[i] - s[i])**2

  mean_e = meanfunction(e)
  sum1=0
  for p,q in zip(e,s):
    sum1 += (abs(q-mean_e) + abs(p-mean_e))**2
  
  d = 1-(sum/sum1)
  return d

print('agreement index : ',agreement_index(e,s))

agreement index :  0.955096222380613

**12) covariance**

In [58]:
def covariance(e,s):  
  mean_e = meanfunction(e)
  mean_s = meanfunction(s)
  sum=0
  for p,q in zip(e,s):
    sum += (p-mean_e)*(q-mean_s)
  
  return sum/len(e)

print('covariance : ',covariance(e,s))

covariance :  33.5

13) Kling-Gupta Efficiency (kge)

In [59]:
def stdfunction(a):
  mean_value = meanfunction(a)
  x = a - mean_value
  y = (x)**2
  z=0
  for i in y:
    z += i
  var_value = z/(len(a))
  std_value = np.sqrt(var_value)
  return std_value

def kge_func(e,s):
  cc = correlationfunction(e,s)
  mean_e = meanfunction(e)
  mean_s = meanfunction(s)
  std_e = stdfunction(e)
  std_s = stdfunction(s)
  
  kge = 1 - (np.sqrt((cc-1)**2 + (mean_e/mean_s)**2 + (std_e/std_s)**2))
  return kge

print('Kling-Gupta Eciency : ', kge_func(e,s))

Kling-Gupta Eciency :  -0.46409125077961644

**14) RSR**

In [52]:
def rsr_func(e,s):
  num = rmse(e,s)           # rmse function and stdfunction is defined in earlier cell
  den = stdfunction(e)
  rsr = num/den
  return rsr

print('RSR : ', rsr_func(e,s))

RSR :  0.37744179890122

**15) Volume Error**

In [53]:
def VE_func(e,s):
  num = 0
  den = 0
  for i in range(len(e)):
      num += s[i] - e[i]
      den += e[i]
  ve = num/den
  return ve

print('Volume Error : ',VE_func(e,s))

Volume Error :  0.03125